# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# C extensions
*.so
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
# Translations
*.mo
*.pot
# Django stuff:
*.log
# Sphinx documentation
docs/_build/
# PyBuilder
target/
#  Cython files
analysis_functions.cpp
data_clusterizer.cpp
# PyDev files
.project
.pydevproject
# Example data
TestBeamData_FEI4_DUT0_cluster.h5
TestBeamData_FEI4_DUT1_cluster.h5
TestBeamData_FEI4_DUT4_cluster.h5
TestBeamData_FEI4_DUT5_cluster.h5
TestBeamData_Mimosa26_DUT0_hot_pixel.h5
TestBeamData_Mimosa26_DUT0_hot_pixel_cluster.h5
TestBeamData_Mimosa26_DUT1_hot_pixel.h5
TestBeamData_Mimosa26_DUT1_hot_pixel_cluster.h5
TestBeamData_Mimosa26_DUT2_hot_pixel.h5
TestBeamData_Mimosa26_DUT2_hot_pixel_cluster.h5
TestBeamData_Mimosa26_DUT0_hot_pixel.pdf
TestBeamData_Mimosa26_DUT1_hot_pixel.pdf
TestBeamData_Mimosa26_DUT2_hot_pixel.pdf
hit_clusterizer.cpp
*.pdf
Alignment.h5
TrackCandidates.h5
Tracklets.h5
Tracks.h5
tmp