language: python
python:
  - 2.7
  - 3.4
 
sudo: false

branches:
  only:
    - master

notifications:
  email:
    - pohl@physik.uni-bonn.de
    
cache:
  directories:
  - $HOME/.pip-cache/
 
# Setup miniconda python with needed packages
before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - chmod +x miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda
  - conda info -a
  - conda install --yes numpy cython pytables scipy matplotlib pandas nose numba
  - pip install progressbar-latest xvfbwrapper coverage coveralls pixel_clusterizer
  - python setup.py develop

# Run test
script:
  # Hack to allow tests coverage in multi processes, http://coverage.readthedocs.org/en/latest/subprocess.html
  - export COVERAGE_PROCESS_START=$PWD/.coveragerc
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      touch $HOME/miniconda/lib/python2.7/site-packages/converage.pth && printf "import coverage; coverage.process_startup()" > $HOME/miniconda/lib/python2.7/site-packages/converage.pth;
    else
      touch $HOME/miniconda/lib/python3.4/site-packages/converage.pth && printf "import coverage; coverage.process_startup()" > $HOME/miniconda/lib/python3.4/site-packages/converage.pth;
    fi
  - nosetests --with-coverage --cover-package=testbeam_analysis
  
after_success:
- coveralls
